<ul class="media-list">
  <% microposts.each do |micropost| %>
    <% user = micropost.user %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(user, option = { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to user.name, user_path(user) %>
          <span class="text-muted">posted at <%= micropost.created_at %></span>
        </div>
        <div>
          <p><%= micropost.content %></p>
        </div>
        <div class="btn-toolbar">
          <%= render 'bookmarks/bookmark_button', micropost: micropost %>
          <% if current_user == micropost.user %>
            <%= link_to micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger ntn-xs' do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate microposts %>
</ul>